.login-bg {
    background-image: url(img/marc-olivier-jodoin--HIiNFXcbtQ-unsplash\ 1.png);
    max-width: 100%;
    height: 1024px;
}

.login-bg-item {
    border-radius: 10px;
    background: #FFF;
    box-shadow: 4px 4px 8px 0px rgba(0, 0, 0, 0.45);
    align-items: center;
    max-width: 695px;
}

.login-item {
    display: grid;
    gap: 30px;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}